
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
}
a, a:visited {
    color: #259dff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clear {
    clear: both;
}.app-header {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
.scroll .app-header {
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 4px #EEE;
}
.app-header .spoon-logo {
    color: #353535;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    float: left;
    -webkit-font-smoothing: antialiased;
    line-height: 55px;
    height: 55px;
    margin-left: 25px;
}
.app-header ul {
    float: right;
    list-style: none;
    line-height: 55px;
    margin: 0;
    margin-right: 30px;
}
.app-header li {
    float: left;
    padding: 0 15px;
    font-size: 12px;
    position: relative;
}
.app-header li a {
    color: #7B838A;
}
.app-header li.active a {
    font-weight: bold;
    color: #353535;
}
.app-header li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 17px;
    margin-top: -8px;
    width: 1px;
    background: #EEE;
}
.app-header li:last-child {
    padding-right: 0;
}
.app-header li:last-child:after {
    content: none;
}.home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.home .video-poster,
.home video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}h1 {
    font-size: 1.8em;
    line-height: 0.8em;
    margin-bottom: 0.8em;
}
h2 {
    font-size: 1.4em;
    line-height: 1em;
    margin-bottom: 1em;
}
h3 {
    font-size: 1.2em;
    line-height: 1.09em;
    margin-bottom: 1.09em;
}
h4 {
    font-size: 1.1em;
    line-height: 1.33em;
    margin-bottom: 1.33em;
}
h5 {
    font-size: 1.05em;
    line-height: 1.33em;
    margin-bottom: 1.33em;
}
h1, h2, h3, h4 {
    color: #111;
    font-weight: bold;
}
p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
}
strong {
    color: #444;
}
table {
    border-collapse: separate;
    border-spacing: 10px 0;
}.document {
    margin: 70px 30px 0 80px;
}
.document .content-left {
    width: 80%;
    min-height: 500px;
    display: inline-block;
    
}
.document .content-right {
    width: 20%;
    min-width: 180px;
    min-height: 500px;
    
    display: inline-block;
    font-size: 13px;
    position: relative;
    z-index: 10;
}
.document .content-right > ul {
    position: fixed;
    top: 100px;
    right: 30px;
}
.document .content-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.document .content-right > ul > li > a {
    color: #353535;
    font-weight: bold;
}
.document .content-right a {
    color: #7B838A;
}
.document .content-right > ul > li > ul > li.active a {
    color: #259dff;
}
.document .content-right > ul ul {
    display: none;
}
.document .content-right > ul li.active ul {
    display: block;
}
.document h1 ~ h2,
.document h1 {
    padding-top: 50px;
    margin-top: 50px;
    position: relative;
}
.document h1 {
    padding-top: 80px;
    margin-top: 35px;
}
.document h1 ~ h2:before,
.document h1:before {
    content: '';
    background: url('src/Common/assets/img/hr.png?4') top left no-repeat;
    position: absolute;
    top: -5px;
    height: 19px;
    left: -70px;
    right: 0;
}
.document p code {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 0.85em;
    padding: 2px 8px;
    border-radius: 3px;
}
.document pre {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px 0 #eee;
    border-radius: 3px;
    font-size: 12px;
}
.document pre code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 1.1em;
    width: 100%;
    overflow: auto;
}
.document table ~ pre {
    margin-top: 40px;
}
.document .go-top {
    background: black;
    -webkit-border-radius: 2px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-decoration: none;
    color: white;
    opacity: 0.2;
    -webkit-transition: opacity 300ms;
    width: 24px;
    height: 21px;
    cursor: pointer;
}
.document .go-top:hover {
    opacity: 1;
}
.document .go-top .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -5px;
}
.document img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 680px) {
    .document {
        margin-left: 30px;
    }
    .document .content-right {
        display: none;
    }
    .document .content-left {
        width: 100%;
    }
    .document pre {
        padding: 10px;
    }
}
pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}
code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}
pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
pre, pre code {
    font-size: 13px;
}
pre .comment {
    color: #998;
}
pre .support {
    color: #0086B3;
}
pre .tag, pre .tag-name {
    color: navy;
}
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}
pre .entity.class {
    color: #458;
}
pre .entity.id, pre .entity.function {
    color: #900;
}
pre .attribute, pre .variable {
    color: teal;
}
pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}
pre .regexp {
    color: #009926;
}
